.flex{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;

  @mixin atMedium{
    flex-flow: row wrap;
  }

  &__item{
    flex-grow: 1;
    
    @mixin atLarge {
      &--half{
        width: clamp(37%, 43%, 50%); 
        margin: 0 2rem;
      }
    }
  }
}