.flex{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  column-gap: 2rem;

  @mixin atMedium{
    flex-flow: row wrap;
  }

  &__item{
    flex-grow: 1;
    
    @mixin atMedium {
      &--half{
        width: 43%;
        margin: 0 2rem;
      }
    }
  }
}