.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
 
  @mixin atMedium {
    flex-direction: row;
  }
 
  &__column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 
    &--marginless {
      margin: 0;
    }

    &--b-margin-until-medium{
      margin-bottom: 1rem;
    }

    @mixin atMedium {
      margin: 0 2rem;
      justify-content: center;
      align-items: center;
      align-content: center;

      &--one-third {
        width: 33.33%;
      }
      &--two-thirds {
        width: 66.66%;
      }
      &--one-third-larger {
        width: 37%;
      }
      &--two-thirds-smaller {
        width: 63%;
      }
    }
  }
}  