.wrapper {
    padding-left: 18px;
    padding-right: 18px;
    max-width: 1236px;
    margin-left: auto;
    margin-right: auto;

    &--medium{
        /* 976 - size of the picutre*/
        max-width: 976px;
    }
    &--no-padding-until-medium{
        padding-left: 0;
        padding-right: 0;

        @mixin atMedium{
            padding-left: 18px;
            padding-right: 18px;
        }
    }

    /* If wrapper class is nested inside of another wrapper*/
    .wrapper{
        padding-left: 0;
        padding-right: 0;
    }

    &--b-margin{
        margin-bottom: 1rem;

        @mixin atMedium{
            margin-bottom: 4rem;
        }
    }
}
